<h1 style="text-align: center; font-family: Arial, Helvetica">
  Corrige tu publicación
</h1>
<p style="font-family: Arial, Helvetica">
  Hemos revisado tu pelicula (<%= pelicula %>) y hay datos que no son correctos,
  por favor edite su publicación, para ello pulse en el siguiente enlace
</p>
<a
  style="
    font-family: Arial, Helvetica;
    display: block;
    padding: 1rem;
    background-color: #00c897;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
  "
  href="<%= url %>"
  >Corregir Pelicula</a
>
<p style="font-family: Arial, Helvetica">
  Si no puedes acceder a este enlace, visita: <%= url %>
</p>
<p style="font-family: Arial, Helvetica">
  Si no solicitaste este e-mail ignoralo
</p>
