<main class="contenedor contenedor-formularios">
    <h1><%= pagina %></h1>
    <form action="/cambiarPassword" method="post" class="default-form">
   
        <div class="campo">
            
            <input type="password" name="passwordAnt" placeholder="Contrase単a anterior">
        </div>
        <div class="campo">
            
            <input type="password" name="passwordNue" placeholder="Contrase単a nueva">
        </div>
        <div class="campo">
            
            <input type="password" name="confirmar" placeholder="Repite Contrase単a">
        </div>
        <div class="campo enviar">
            <input type="submit" value="Cambiar Contrase単a" class="btn btn-primary">
        </div>
    </form>

</main>