<main class="contenedor contenedor-formularios">
    <h1><%= pagina %></h1>
    <form class="default-form" method="POST">
        <legend>¿Eliminar Pelicula?, una pelicula eliminada no se puede recuperar</legend>
        <div class="campo enviar">
            <input type="submit" class="btn btn-rosa" value="Eliminar Pelicula" >
        </div>
    </form>
</main>