<main class="contenedor contenedor-formularios">
  <h1><%= pagina %></h1>
  <form action="/" method="post" class="default-form">
    <div class="campo">
      <input type="email" name="email" placeholder="Email" />
    </div>
    <div class="campo">
      <input type="password" name="password" placeholder="Contraseña" />
    </div>
    <div class="acciones">
      <p>
        Has olvidado la contaseña, <a href="/olvidePassword" class="fw-bold">haz click aqui</a>
      </p>
    </div>
    <div class="campo enviar">
      <input type="submit" value="Iniciar Sesión" class="btn btn-primary" />
    </div>
  </form>
</main>
