<main class="contenedor contenedor-formularios">
  <h1>
    <%= pagina %>
  </h1>
  <form action="/olvidePassword" method="post" class="default-form">
    <div class="campo">
      <input type="email" name="email" placeholder="Email" />
    </div>

    <div class="campo enviar">
      <input type="submit" value="Resetear Contraseña" class="btn btn-primary" />
    </div>
  </form>
</main>