<main class="contenedor panel-administracion">
  <div class="seccion-admin">
    <% if (peliculas.length > 0) { %>
    <h2>Peliculas a revisar</h2>
    <ul>
      < <% peliculas.forEach(peli => { %>

      <li>
        <div class="informacion-admin">
          <a href="/pelicula/<%= peli.slug %>" target="_blank">
            <h3><%= peli.titulo %></h3>
          </a>
        </div>
        <div class="acciones contenedor-botones">
          <a href="/revisarPeli/<%= peli.id %>" class="btn btn-verde"
            >Revisar</a
          >
        </div>
      </li>

      <% }) %>
    </ul>
    <%- include('partials/paginacion.ejs') %> <% } else { %>

    <h2>No hay pelicuas para revisar</h2>

    <% } %>
    <button onclick="location.href = '/administracion'" class="btn btn-azul">
      Volver
    </button>
  </div>
</main>
