<main class="contenedor panel-administracion">
  <div class="seccion-admin">
    <% if (peliculas.length > 0) { %>
    <h2>Peliculas a revisar</h2>
    <ul>
       <% peliculas.forEach(peli => { %>
      <li>
        <div class="informacion-admin d-flex">
            <h3><%= peli.titulo %></h3>
        </div>
        <div class="contenedor-botones acciones2">
          <a href="/revisarPeli/<%= peli.id %>" class="btn btn-success">Revisar</a>
        </div>
      </li>
      <% }) %>
    </ul>
    <%- include('partials/paginacion.ejs') %> <% } else { %>

    <h2>No hay peliculas para revisar</h2>

    <% } %>
    <a href = "/administracion" class="btn btn-info w-25">
      Volver
    </a>
  </div>
</main>
